{{ define "main" -}}
<div class="posts">
  {{ range $.Site.Data.plan }}
    {{ $total := 0 }}
    {{ $done := 0 }}
    {{ range index . "items" }}
    {{ $weight := (index . "weight")}}
    {{ $total = add $total $weight }}
      {{- range index . "items" -}}
      {{ $doneWeight := (index . "weight") }}
      {{- $done = add $done $doneWeight -}}
      {{- end -}}
    {{ end }}
    <h1>{{ index . "name" }}</h1>
    <progress max="{{ $total }}" value="{{ $done }}" id="progress"></progress>
    <ul>
    {{ range index . "items" }}
      <li>{{ index . "name" }} ( {{ index . "weight" }} )</li>
      {{ range index . "items" }}
      {{ end }}
    {{ end }}
    </ul>
  {{ end }}
{{ range .Site.RegularPages -}}
<article class="post">
  <h1 class="post-title">
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </h1>
  <time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700" }}" class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
</article>
{{- end }}
</div>
{{- end }}

